<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>회원정보 수정 | 우메우메스이츠</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/header.js}" defer></script>
  <script th:src="@{/js/profile.js}" defer></script>
</head>
<body th:with="page='other'">
<form id="profileForm"
      th:action="@{/user/profile}" method="post"
      th:attr="data-current-password=${user.password}">
  <div th:replace="~{fragments/header :: header}"></div>

  <div class="container login-container">
    <h2>회원정보 수정</h2>

    <div>
      <label for="username" class="form-label">아이디</label>
      <input type="text" id="username" name="username" th:value="${user.username}" readonly />
    </div>

    <div>
      <label for="password" class="form-label">새 비밀번호</label>
      <input type="password" id="password" name="password" placeholder="비밀번호 변경 시 입력하세요" />
      <div th:if="${error}" class="form-error" th:text="${error}"></div>
    </div>

    <div>
      <label for="name" class="form-label">이름</label>
      <input type="text" id="name" name="name" th:value="${user.name}" required />
    </div>

    <div>
      <label for="email" class="form-label">이메일</label>
      <input type="email" id="email" name="email" th:value="${user.email}" required />
    </div>

    <div>
      <label for="phone" class="form-label">전화번호</label>
      <input type="text" name="phone" id="phone" th:value="${formattedPhone}" placeholder="010-1234-5678" required />
    </div>

    <div class="form-group">
      <label class="form-label">주소</label>
      <div class="form-zip">
        <input type="text" id="postcode" name="zipcode" class="form-input zip" th:value="${user.zipcode}" readonly />
        <!-- 주소 검색 버튼 -->
        <button type="button" onclick="execDaumPostcode()" class="btn btn-search">주소 검색</button>
      </div>
      <input type="text" id="roadAddress" name="address" class="form-input" th:value="${user.address}" required />
      <input type="text" id="detailAddress" name="detailAddress" class="form-input" th:value="${user.detailAddress}" required />
    </div>

      <!-- 수정, 이전, 회원탈퇴 버튼 -->
      <div class="form-buttons">
      <button type="submit" class="btn btn-primary">수정</button>
      <a href="/" class="btn btn-secondary">이전</a>
      <button type="button" onclick="confirmDelete()" class="btn btn-danger">회원 탈퇴</button>
      </div>
  </div>
</form>
</body>
</html>
