<!-- templates/fragments/index-header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>UmeUmeSweets | Header</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script th:src="@{/js/header.js}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <header th:fragment="header">
    <div class="container header-container">
      <a href="/"><h1 class="logo">UmeUmeSweets</h1></a>
      <div class="header-right">
        <nav class="navbar">
          <div class="menu">
            <ul class="menu-items">
              <li><a th:href="@{/board}" data-translate>카페 & 디저트 추천</a></li>
              <li><a th:href="@{/products}" data-translate>디저트 상품</a></li>
              <li><a th:href="@{/shops}" data-translate>디저트 카페</a></li>
              <li class="language-wrapper">
                <a href="#" class="language-toggle">Language ▼</a>
                <ul class="language-dropdown" style="display: none;">
                  <li><a href="#" onclick="toggleLanguage('ko'); return false;">한국어</a></li>
                  <li><a href="#" onclick="toggleLanguage('ja'); return false;">日本語</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>

        <!-- 로그인 여부에 따라 사용자 메뉴 -->
        <div class="user-info" th:if="${loginUser == null}">
          <a th:href="@{/login}" class="nav-link login-btn" data-translate>로그인</a>
        </div>
        <div class="user-info" th:if="${loginUser != null}">
            <a href="/favorites" data-translate>
              <img src="https://api.iconify.design/heroicons/heart.svg" alt="찜목록" width="24" height="24" />
            </a>
            <a href="/cart">
              <img src="https://api.iconify.design/heroicons/shopping-cart.svg" alt="장바구니" width="24" height="24" />
            </a>
            <div class="user-menu-wrapper">
              <a href="#" id="user-icon-toggle">
                <img src="https://api.iconify.design/heroicons/user.svg" alt="회원정보" class="user-icon" width="24" height="24" />
              </a>
            </div>
            <div class="user-dropdown" id="user-dropdown" style="display: none;">
              <a href="/user/profile" data-translate>회원정보</a>
              <a href="/order/complete" data-translate>주문 내역</a>
              <a href="/logout" data-translate>로그아웃</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>
</html>
