<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>회원가입 | 우메우메스이츠</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/register.js}"></script>
</head>
<body th:with="page='other'">
<form id="registerForm" th:action="@{/register}" method="post">
  <div th:replace="~{fragments/header :: header}"></div>

  <div class="container login-container">
    <h2>회원가입</h2>

    <div>
      <label for="username" style="display: block; text-align: left;">아이디</label>
      <input type="text" id="username" name="username" minlength="5" required />
    </div>

    <div>
      <label for="password" style="display: block; text-align: left;">비밀번호</label>
      <input type="password" id="password" name="password" minlength="8" required />
    </div>

    <div>
      <label for="confirmPassword" style="display: block; text-align: left;">비밀번호 확인</label>
      <input type="password" id="confirmPassword" required />
    </div>

    <div>
      <label for="name" style="display: block; text-align: left;">이름</label>
      <input type="text" id="name" name="name" required />
    </div>

    <div>
      <label for="email" style="display: block; text-align: left;">이메일</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div>
      <label for="phone" style="display: block; text-align: left;">전화번호</label>
      <input type="text" id="phone" name="phone" maxlength="13" required placeholder="010-1234-5678" />
    </div>

    <div class="form-group">
      <label class="form-label">주소</label>
      <div class="form-zip">
        <input type="text" id="postcode" name="zipcode" class="form-input zip" readonly required />
        <button type="button" onclick="execDaumPostcode()" class="btn btn-search">주소 검색</button>
      </div>
      <input type="text" id="roadAddress" name="address" class="form-input" placeholder="도로명 주소" readonly required />
      <input type="text" id="detailAddress" name="detailAddress" class="form-input" placeholder="상세 주소 입력" required />
    </div>

    <button type="submit">회원가입</button>
  </div>
</form>

<div class="login-links">
  <a th:href="@{/login}">이미 계정이 있으신가요? 로그인</a>
</div>
</body>
</html>
